<section>
    <h2>Awana</h2>
    <aside>
        <img class="cld-responsive"
            data-src="https://res.cloudinary.com/oakpark/c_scale,w_auto,dpr_auto/awana-logo.png"
            src="https://res.cloudinary.com/oakpark/c_scale,w_434,q_auto:low/awana-logo.png"
            alt="Awana Clubs"/>
    </aside>
    <p>
        Awana is for kids 4 years through 5th grade where we teach them about the Bible through music,
        games, lessons, and memory verses.
    </p>
    <p>
        We meet each Wednesday night from 6:30-8:00 following the Greater Clark County School
        schedule from August to May.
    </p>
    <p>
        Register your kids by clicking <a href="https://oakpark.ccbchurch.com/form_response.php?id=19"
        target="_blank" rel="noopener noreferrer">here</a> or below.
    </p>

    <p>
        <a class="btn" href="https://oakpark.ccbchurch.com/form_response.php?id=19"
        target="_blank" rel="noopener noreferrer">Awana Registration</a>
    </p>
</section>
