<section>
    <h2 style="text-transform: none">theDispersion</h2>
    <aside>
        <img
        src="http://s3.amazonaws.com/churchplantmedia-cms/oak_park_church_jeffersonville/dispersion-edited.png"
        alt="dispersion-edited" />
    </aside>

    <p>
        theDisperson is for students 6th - 12th grades with games and hanging out, followed by a
        verse by verse lesson and age/gender divided small group discussion.
    </p>
    <p>
        We meet each Wednesday night from 6:30-8:00 following the Greater Clark County School
        schedule from August to May.
    </p>
    <p>
        Student Discipleship Classes are 12 weeks long emphasizing memorization and teaching of
        various Christian topics to educate your student on the Bible and how to apply it to their
        world.
    </p>
    <p>Check out the <a href="__3__">church calendar</a> for other events including retreats, summer
    camp, and community service days.</p>
</section>
