<!-- STOP: Randy Auto-Generate's this page.  Please talk to him before editing.  -->
<section>
    <h2>Introduction</h2>
    <p>Oak Park Children's Ministry is for kids K-5th. Our goal is to teach your children the
    Bible in a fun environment and equip parents with the resources to lead their home in Christian
    faith. All volunteers have passed a national background check and been trained in policies to
    protect your child.</p>

    <p>The Sunday Worship Service is the highlight of what we do at Oak Park and we encourage
    families to worship together. We have intentionally chosen to not create an additional
    children's worship time for grade school kids. <a
    href="http://s3.amazonaws.com/churchplantmedia-cms/oak_park_church_jeffersonville/worship-guide-sample.pdf">Children's
    Worship Guides</a> are available in the library next to the Welcome Center as a resource for
    parents to teach their kids how to be a participant in the worship service.</p>
</section>

{% include 'includes/awana.html' %}

<section>
    <h2 >The Gospel Project</h2>
    <aside>
        <img
        src="http://s3.amazonaws.com/churchplantmedia-cms/oak_park_church_jeffersonville/gospel-project-kids.png"
        alt="The Gospel Project" />
    </aside>

    <p>
        Childrens Discipleship Classes are on a 3-year chronological journey through the entire
        Bible. Follow the signs along the wall in the Children's Wing to find your child's class.
    </p>
</section>


{% include 'includes/contact-joshua.html' %}
