<!-- STOP: Randy Auto-Generate's this page.  Please talk to him before editing.  -->
<section>
    <h2>Schedule</h2>
    <p>
        Oak Park Wednesday night activities meet weekly from 6:30-8:00 following the Greater Clark
        County School schedule from August to May. See the <a href="/events">church calendar</a> for any
        exceptions.
    </p>
</section>

<section>
    <h2>Awana</h2>
    <aside>
        <img class="cld-responsive"
            data-src="https://res.cloudinary.com/oakpark/c_scale,w_auto,dpr_auto/awana-logo.png"
            src="https://res.cloudinary.com/oakpark/c_scale,w_434,q_auto:low/awana-logo.png"
            alt="Awana Clubs"/>
    </aside>
    <p>
        Awana is for kids 4 years through 5th grade where we teach them about the Bible through music,
        games, lessons, and memory verses.
    </p>
    <p>
        Register your kids by clicking <a href="https://oakpark.ccbchurch.com/form_response.php?id=19"
        target="_blank" rel="noopener noreferrer">here</a> or below.
    </p>

    <p>
        <a class="btn" href="https://oakpark.ccbchurch.com/form_response.php?id=19"
        target="_blank" rel="noopener noreferrer">Awana Registration</a>
    </p>
</section>

<section>
    <h2 style="text-transform: none">theDispersion</h2>
    <aside>
        <img
        src="http://s3.amazonaws.com/churchplantmedia-cms/oak_park_church_jeffersonville/dispersion-edited.png"
        alt="dispersion-edited" />
    </aside>

    <p>
        theDispersion is for students 6th - 12th grades with games and hanging out, followed by a
        verse by verse lesson and age/gender divided small group discussion.
    </p>
    <p>No registration needed for students.</p>
</section>

<section>
    <h2>Contact</h2>
    <p>
        For more information please contact the Pastor of Children and Youth: <a
        href="mailto:joshua.page@oakparkbaptist.com">Joshua Page</a>.
    </p>
</section>
