<section>
    <h2>International Mission Board</h2>
    <aside>
        <a class="external" href="http://www.imb.org/"><img
        src="http://s3.amazonaws.com/churchplantmedia-cms/oak_park_church_jeffersonville/imb-logo-edited.jpg"
        alt="IMB Connecting" /></a>
    </aside>
    <p>
        Oak Park partners with the International Mission Board to send missionaries around the
        globe. Short term, long term, and carrer missionaries are sent in a varriety of contexts.
    </p>
    <p>
        For more information, visit their <a class="external"
        href="http://www.imb.org/">website</a>.
    </p>
</section>

<section>
    <h2>The Haiti Collective</h2>
    <aside>
        <a class="external" href="http://www.thehaiticollective.com/"><img
        src="http://s3.amazonaws.com/churchplantmedia-cms/oak_park_church_jeffersonville/haiti-collective-edited.jpg"
        alt="The Haiti Collective" /></a>
    </aside>
    <p>
        Oak Park partners with the Haiti Collective who seeks to connect healthy stateside churches
        with local Haitian congregations for gospel ministry. Oak Park has been in partnership with
        a church in L'estere, Haiti since 2012, aiding with orphan care, pastoral education, and
        church development. If you're interested in joining one of our mission teams to Haiti
        contact Pastor <a href="mailto:chase.sears@oakparkbaptist.com">Chase Sears</a>.
    </p>
    <p>
        For more information, visit their <a class="external"
        href="http://www.thehaiticollective.com/">website</a>.
    </p>
</section>

<section>
    <h2>Teaching Truth International</h2>
    <aside>
        <a class="external" href="http://www.teachingtruthinternational.org/"><img
        src="http://s3.amazonaws.com/churchplantmedia-cms/oak_park_church_jeffersonville/teaching-truth-international-edited.jpg"
        alt="Teaching Truth International" /></a>
    </aside>
    <p>
        Oak Park partners with Teaching Truth International to equip pastors and resource churches
        in areas where theological and practical training is unavailable.
    </p>
    <p>
        For more information, visit their <a class="external"
        href="http://www.teachingtruthinternational.org/">website</a>.
    </p>
</section>

<section>
    <h2>Mission Trip Financial Support</h2>
    <p>
        If you plan to go on a mission trip and would like to apply for financial support from the
        Antioch Fund, please complete our <a class="external"
        href="https://oakpark.ccbchurch.com/form_response.php?id=12">Mission Trip Support
        Application</a>.
    </p>
</section>
