<!-- STOP: Randy Auto-Generate's this page.  Please talk to him before editing.  -->
<section>
    <h2>North American Mission Board</h2>
    <aside>
        <a class="external" href="https://www.namb.net/"><img
        src="http://s3.amazonaws.com/churchplantmedia-cms/oak_park_church_jeffersonville/namb-edited.jpg"
        alt="North American Mission Board" /></a>
    </aside>
    <p>
        Oak Park partners with the North American Mission Board to plant churches, send missions
        teams, and provide disaster relief around Southern Indiana and the United States.
    </p>
    <p>
        For more information, visit their <a class="external"
        href="https://www.namb.net/">website</a>.
    </p>
</section>

<section>
    <h2>Louisville Rescue Mission</h2>
    <aside>
        <a class="external" href="http://louisvillerescuemission.org/"><img
        src="http://s3.amazonaws.com/churchplantmedia-cms/oak_park_church_jeffersonville/lrm-white.jpg"
        alt="Louisville Rescue Mission" /></a>
    </aside>
    <p>
        Oak Park partners with Louisville Rescue Mission on all our benevolence and individual
        emergency relief. Founded in 1881, Louisville Rescue Mission exists to proclaim the gospel
        and extend God's mercy to the homeless and hurting of the greater Louisville area in support
        of the local church. They embrace men and women experiencing homelessness and poverty with
        the compassion of Jesus Christ through a variety of programs - including emergency services,
        residential LifeChange program, and permanent housing.
    </p>
    <p>
        For more information, visit their <a class="external"
        href="http://louisvillerescuemission.org/">website</a>.
    </p>
</section>

<section>
    <h2>Choices Life Resource Center</h2>
    <aside>
        <a class="external" href="http://choicesforwomen.org/"><img
        src="http://s3.amazonaws.com/churchplantmedia-cms/oak_park_church_jeffersonville/choices_cares_header.png"
        alt="Choices Life Resource Center: Direction with Compassion" /></a>
    </aside>
    <p>
        Choices Life Resource Center is a Christ-centered, life-affirming pregnancy care center
        offering compassion and direction to pregnant and parenting clients. Services include
        pregnancy testing, limited OB ultrasound, options counseling, post-abortion healing Bible
        study, parenting education and material support, as well as STD/STI testing and treatment.
    </p>
    <p>
        For more information, visit their <a class="external"
        href="http://choicesforwomen.org/">website</a>.
    </p>
</section>
