<!-- STOP: Randy Auto-Generate's this page.  Please talk to him before editing.  -->
<aside style="float: right; width: 48%; padding-left: 2%;">
    <img class="cld-responsive"
        data-src="https://res.cloudinary.com/oakpark/c_scale,w_auto,dpr_auto/future-home-opbc.jpg"
        src="https://res.cloudinary.com/oakpark/c_scale,w_434,q_auto:low/future-home-opbc.jpg"
        alt="Future Home of OPBC"/>
</aside>
<p>
    In 1954, Oak Park began as a church plant sponsored by Ninth and O Baptist Church. Walnut Street
    Baptist Church took over as our main support church in 1956. When Walnut Street began to partner
    with Oak Park, they bought the land upon which our building currently resides. Our building was
    constructed in 1959. An addition took place in 1980 with more revovations occurring in 2004. Oak
    Park possesses a rich history of church planting and God given growth. As the Lord leads, we
    look forward to carrying on our legacy, so that residents of Jeffersonville along with those in
    other communities might Love Jesus, Love People, and Help People Love Jesus.
</p>
