<!-- STOP: Randy Auto-Generate's this page.  Please talk to him before editing.  -->
{% for item in data %}
<div class="personal-profile">
    <heading>
        <h2>{{item.name}}</h2>
        <p>
            {{item.position}}
            {% if item.email %}
            | <a href="mailto:{{item.email}}">{{item.email}}</a>
            {% endif %}
        </p>
    </heading>
    {% if item.cdn_ident %}
    <aside>
        <img class="cld-responsive"
            data-src="https://res.cloudinary.com/oakpark/c_scale,w_auto,dpr_auto/{{item.cdn_ident}}.jpg"
            src="https://res.cloudinary.com/oakpark/c_scale,w_434,q_auto:low/{{item.cdn_ident}}.jpg"
            alt="{{item.name}}"/>
    </aside>
    {% endif %}
    {% for p in item.content %}
    <p>{{p}}</p>
    {% endfor %}
</div>
{% endfor %}
