<!-- STOP: Randy Auto-Generate's this page.  Please talk to him before editing.  -->
<section>
    <h2>Introduction</h2>
    <p>
        Oak Park's student ministry for Middle School and High School is located above the gym in
        our youth friendly multipurpose room. We are one ministry, but separate the two age groups
        as often as possible. Our goal is to teach your students the Bible in-depth using language
        they can comprehend. We also work to give parents the resources and training to lead their
        home in Christian faith.
    </p>
</section>


{% include 'includes/dispersion.html' %}


{% include 'includes/contact-joshua.html' %}
